*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global Css */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn{
    border:none;
    padding: 15px 16px;
    border-radius: 5px;
    background: #469165;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.btn2{
    border: 3px solid #7c8690;
    padding: 15px 16px;
    border-radius: 5px;
    background: transparent;
    font-size: 16px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
/* Header Design */
header{
    padding: 16px 120px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 32px
}
header nav li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: "Inter", sans-serif;

}



/* Hero banner */
.indicator-part{
    background: white;
    padding: 10px;
    border-radius: 50px;
    width: 30%;
    /* height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.indicator{
    width:  15px;
    height: 15px;
    background: #469165;
    border: 4px solid #9fc6ae;
    border-radius: 50%;
}
.indicator-part p{
    font-size: 16px;
    color: #469165;
}
.hero-banner{
    background-image: url('assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px 0;
    padding: 100px 120px 134px 120px;
}

.hero-banner .banner .banner-text p{
    width: 660px;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 30px;
}
.banner-headings h1{
    font-size: 72px;
    line-height: 84px;
    color: #fff;
}
.banner-headings h1:nth-child(2){
    color: #2faa64;
}
.banner-footer{
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: space-around; */
}
.banner-footer>button{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-box-area{
    padding-top: 50px;
    background: #fbfbfb;
}
.card-box-header{
}
.card-box-area .card-box-header h1{
  
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;   
    text-align: center;
  
}

.card-box-area .card-box-header h2{
  
    font-family: "Inter", sans-serif;
    font-size: 16px;   
    text-align: center;
    color: #627382;
    margin-block: 10px;
}
.card-box{
    margin-top: 40px ;
    display: flex;
    justify-content: space-evenly;
}
.card-heading h1{
    margin-top: 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}
.card-icon {

    display: flex;
    justify-content: center;
}
.card-icon img{
    background: #f95555;
    width: 60px;
    border-radius: 50%;
    padding: 16px;

}
.card{
    width: 322px;
    padding: 24px;
    box-shadow: 0 0 5px rgb(200, 199, 199);
    border-radius: 8px;
}
.card-body{
    font-size: 16px;
    margin: 15px 0;
    text-align: center;
    color: #627382;

}