*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global Css */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn{
    border:none;
    padding: 12px 16px;
    border-radius: 5px;
    background: #469165;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
/* Header Design */
header{
    padding: 16px 120px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 32px
}
header nav li a{
    text-decoration: none;
    color: #000;
}



/* Hero banner */
.indicator-part{
    background: white;
    padding: 10px;
    border-radius: 50px;
    width: 30%;
    /* height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.indicator{
    width:  15px;
    height: 15px;
    background: #469165;
    border: 4px solid #9fc6ae;
    border-radius: 50%;
}
.indicator-part p{
    font-size: 16px;
    color: #469165;
}
.hero-banner{
    background-image: url('assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 70px 120px 134px 120px;
}

.hero-banner .banner .banner-text p{
    width: 660px;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 30px;
}
.banner-headings h1{
    font-size: 72px;
    line-height: 84px;
    color: #fff;
}
.banner-headings h1:nth-child(2){
    color: #469165;
}
.banner-footer{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.banner-footer>button{
    display: flex;
    align-items: center;
    gap: 10px;
}